.button{
    width: auto;
}

.inactiveButton{
    height: auto;
}

.activeButton{
    background-color: white;
    color: blue;
}

.searchPage{
    width: 40px;
}

.tableFooter button, .tableFooter input{
    padding: 8px 4px;
}

.tableFooter{
    text-align: end;
}
